@model UserEditViewModel
@{
    ViewData["Title"] = "Profili Düzenle";
}

<div class="container mt-5">
    <h2>Profili Güncelle</h2>
    <hr />
    <form asp-action="Edit" method="post" enctype="multipart/form-data">

        <input asp-for="Id" type="hidden" />

        <div class="mb-3">
            <label class="form-label">Kullanıcı Adı</label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="ImageFile" class="form-label">Profil Fotoğrafı</label>
            <input asp-for="ImageFile" type="file" class="form-control" accept="image/*" />
        </div>

        <button type="submit" class="btn btn-primary">Güncelle</button>
        <a href="/" class="btn btn-secondary">İptal</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
