@model LoginViewModel

@{
    ViewData["Title"] = "Giriş Yap";
    ViewData["NoContainer"] = true;
}


<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div
        style="background: rgba(0,0,0,0.7); padding: 50px; border-radius: 20px; width: 500px; color: white; font-size: 18px;">

        <h2 class="text-center mb-4">Giriş Yap</h2>

        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-check mb-3">
                <input asp-for="RememberMe" class="form-check-input" />
                <label asp-for="RememberMe" class="form-check-label"></label>
            </div>

            <button type="submit" class="btn btn-primary w-100">Giriş Yap</button>
        </form>

        <div class="text-center mt-3">
            <p class="mb-0">
                Hesabınız yok mu?
                <a href="/account/register" class="btn btn-link">Kayıt olun</a>
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
